/*
                    Default values

                    FONT-FAMILY : Roboto Condensed

                    Greenish Blue    : #34c6d3
                    Steel Gray       : #41464b
                    Blue Bayoux      : #64707


*/

html , body {
    height: 100%;
}

body {
    font-family: 'Roboto Condensed', sans-serif;
}

p {
    color: black;
    font-size: 16px;
    font-weight: 400;
}

h3 {
    color: #41464b;
    text-transform: uppercase;
}

#home-cover{
    height: 100%;
    background-image: linear-gradient(rgba(0,0,0,0.05), rgba(0,0,0,0.4)) , url(../img/london.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
} 

#home-content-box{
    width: 100%;
    height: 100%;
    display: table;
}

#home-content-box-inner{
    display: table-cell; 
    vertical-align: middle;
    text-align: center;
}

#home-heading h3{
    color: #fff;
    font-size: 50px;
    font-weight: 700;
    margin: 20px 0 20px 0;
    text-transform: uppercase;
}
/*-----background setting------*/
.bg-setting{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
/*-----Buttons------*/
.button-design {
    border: 2px solid black;
    
    color: green;
    padding: 12px 26px 12px 26px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 0px;
    font-weight: 400;
    text-transform: uppercase;
  }
  
  /* button color */
  .button-color {
    border-color: white;
    color: white;
  }
  .button-color:hover {
    background-color: white;
    color: black;
    text-decoration: none;
  }
  .button-color2 {
    border-color: #34c6d3;
    color: #34c6d3;
  }
  .button-color2:hover {
    background-color: #34c6d3;
    color: white;
    text-decoration: none;
  }

  .button-color3 {
    border-color: #2E86C1;
    color: #2E86C1;
  }
  .button-color3:hover {
    background-color: #2E86C1;
    color: white;
    text-decoration: none;
  }
/*---animation---*/
  #home-cover , #home-heading , #home-btn {
      animation-duration: .5s;
  }

  #home-cover {
      animation-delay: .1s;
  }

  #home-heading{
      animation-delay: .5s;
  }

  #home-btn {
      animation-delay: 1s;
  }

  /*---content (Generic)---*/

  .content-box {
      padding: 60px 0 60px 0;
  }

  .content-title h3{
      font-size: 30px;
      font-weight: 700;
      text-align: center;
      margin: 0 0 30px 0;
  }

  .content-title-underline {
      width: 60px;
      height: 3px;
      background-color: #F1C40F;
      margin: 0 auto 30px auto;
  }

  .content-title-underline2 {
    width: 60px;
    height: 3px;
    background-color: #2E86C1;
    margin: 0 auto 30px auto;
}

  .service-item{
      padding: 20px 0 20px 0;
      margin-bottom: 20px;
      cursor: pointer;
  }

  .service-item-icon i{
      color: #34c6d3;
      float: left;
      padding: 15px;
      margin-right: 25px;
      width: 75px;
      height: 75px;
      text-align: center;
  }

  .service-item:hover .service-item-icon i {
      color: #fff;
      background-color: #34c6d3;
  }

  .service-item-title h3 {
      font-size: 25px;
      font-weight: 500;
      margin: 0 0 10px 0;
  }
  .service-item-desk p {
      margin: 0;
      padding-left: 85px;
  }

  /*--------ABOUT----------*/

  #about-content-box {
      float: left;
      height: 700px;
  }

  #about-content-box-outer{
      width: 100%;
      height: 100%;
      display: table;
  }

  #about-content-box-inner {
      display: table-cell;
      vertical-align: middle;
  }

  #about .content-title h3 {
      text-align: left;
  }

  #about .content-title-underline {
      margin: 0 0 30px 0;
  }

  #about-description p {
      margin-bottom: 30px;
  }

  #about-bg-diagonal{
      width: 60%;
      height: 600px;
      float: right;
      background-image: url(../img/russian.jpg);
      clip-path: polygon(0 0, 100% 0, 100% 100%,10% 100% )
  }

  .row.all-padding [class*=col-]{
      padding-left: 0.3;
      padding-right: 0.3;
  }

  .img-wrapper {
      overflow: hidden;
  }

  .img-wrapper img {
      transition: transform .5s ease;
  }

  .img-wrapper img:hover {
      transform: scale(1.5);
      cursor: zoom-in;
  }
 /*--------TEAM----------*/

 .team-member {
     margin: 0 15px;
 }

 .team-member-info{
     padding: 10px 0 30px 0;
 }

 h4.team-member-name {
     font-size: 22px;
     font-weight: 700;
     letter-spacing: 1px;
     padding-top: 2px;
 }

 h4.team-member-job{
     color: #34c6d3;
     font-size: 15px;
     font-weight: 700;
     font-style: italic;
     letter-spacing: 1px;
     margin-top: 5px;
 }
/*--------Social Icons----------*/

.social-list {
    padding-left: 0px;
}

.social-list li {
    list-style: none;
    display: inline-block;
    width: 32px;
    height: 32px;
    margin-right: 6px;
    margin-top: 10px;
}

.social-icon i {
    font-size: 17px;  
}

/*--- PRICING---*/
.pricing-box {
    border: 3px solid #2E86C1;
    padding: 50px 0;
    margin: 40px 0;
}

h4.pricing-title {
    background-color: #2E86C1;
    color: #fff;
    display: inline-block;
    padding: 7px 15px;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    margin: 0 0 30px 0;
}

h3.pricing-value {
    font-size: 50px;
    font-weight: 700;
}

h3.pricing-value sup {
    font-size: 28px;
    font-weight: normal;
    vertical-align: super;
}

ul.pricing-spec {
    list-style: none;
    padding-left: 0;
    margin: 20px 0 60px 0;
}

ul.pricing-spec li p {
    font-weight: 400;
    text-transform: uppercase;
}

/*--- CONTACT US---*/

footer{
    background-color: #41464b;
    padding-top: 30px;
    border-top: 5px solid rgba(0,0,0,0.4);
}

#contact-left h3 {
    color: #fff;
    font-size: 27px;
    font-weight: 700;
}

#contact-left p {
    color: #fff;
    margin-bottom: 30px;
}

address {
    color: #fff;
}

address strong,
#phone-fax-email strong {
    letter-spacing: 1px;
}

#contact-right h3 {
    color: #fff;
}

form .form-control {

    background: transparent;
    border-radius: 0;
    border-color:#fff;
    font-size: 17px;
    font-weight: 400;
    padding: 8px 16px;
    margin-bottom: 20px;
    color: #fff;
}
.navbar-brand img{
    height: 7%;
}

.navbar {
    padding: 20px 0;
}

.nav-color{
    background: rgba(0,0,0,0.7);
    padding: 7px 0;
}

.vesco-top-nav {
    padding: 0 85px;
}

.navbar-nav {
    margin-left: 375px;
}

.navbar-nav > li > a {
    color: #fff;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 2px;
    margin-right: 20px;

}

.navbar-nav>li>a:hover,
.navbar-nav>li>a:focus {
    background: none;
    color: yellow;
}

.nav-color ul.navbar-nav > li > a.active {
    color: yellow;
}

